{% extends "layout.html" %}

{% block header %}
  <header>
    <h1 id='title'>{{event.title}}</h1>
    <span id='date'>{{event.date}}</span>
  </header>
{% endblock %}
  
{% block mainContent %}
  <p>
   <img id="image" src="{{event.image}}"></img>
 <p></p>
   <span id='location'> <strong> Where the party at? </strong> {{event.location}} </span>
   <ul id='attendees'> <strong> Will your crew be there? Look who's coming: </strong> {{event.attending}} </ul>
  </p>

  {% if errors %}
    <ul class="form-errors">
      <p>Please correct the following errors!</p>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
    </ul>
  {% endif %}

<form id="rsvp" method="POST">
    <div class="form-group">
        <label for="email">RSVP by entering your @yale.edu email here:</label>
        <input type="email" name="email" id="email">
        <input type="submit" value="Submit">
    </div>
</form>
<div>
    <a class="donation" href="/donate">Donate</a>
 </div>

<script src="//www.google-analytics.com/cx/api.js?experiment=0zuL1WbMQiqCxNqpSEaUrw"></script>
 
<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 
<script>
// Define JavaScript for each page variation of this experiment.
var pageVariations = [
  function() {},  // Original: Donate.
  function() {    // Variation 1: Support
    $( 'a.donation' ).text( 'Support' );
  }
];
 
// Wait for the DOM to load, then execute the view for the chosen variation.
$(document).ready(function(){
  // Ask Google Analytics which variation to show the user.
  var chosenVariation = cxApi.chooseVariation]();
 
  // Execute the chosen view
  pageVariations[chosenVariation]();
}
);
</script>


  <div>
    <a href="/events/new">Create a new event</a>
  </div>

{% endblock %}

  {% block footer %}
  <footer>
    <a href="/about">About Team Young Frost</a>.
    <a href="/">Take me home!</a>
  </footer>
{% endblock %}
