{% extends "layout.html" %}

{% block header %}
  <header>
    <h1 id='title'>{{event.title}}</h1>
    <span id='date'>{{event.date}}</span>
  </header>
{% endblock %}

  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
{% block mainContent %}
  <p>
   <img id="image" src="{{event.image}}"></img>
 <p></p>
   <span id='location'> <strong> Where the party at? </strong> {{event.location}} </span>
   <ul id='attendees'> <strong> Will your crew be there? Look who's coming: </strong> {{event.attending}} </ul>
  </p>
  
 
<form id="rsvp" method="POST">
    <div class="form-group">
        <label for="email">RSVP by entering your @yale.edu email here:</label>
        <input type="email" name="email" id="attendees">
        <input type="submit" value="submit">
    </div>
</form>

  <div>
    <a href="/events/new">Create a new event</a>
  </div>

{% endblock %}

  {% block footer %}
  <footer>
    <a href="/about">About Team Young Frost</a>.
    <a href="/">Take me home!</a>
  </footer>
{% endblock %}